@use './colors' as *;

@mixin rangeInput() {
  input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 $blackColor;
    background: $primaryColor;
    border-radius: 1px;
    border: 0 solid $blackColor;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 $blackColor;
    border: 1px solid $primaryColor;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: $secondaryColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $primaryColor;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 $blackColor;
    background: $primaryColor;
    border-radius: 1px;
    border: 0 solid $blackColor;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 $blackColor;
    border: 1px solid $primaryColor;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: $secondaryColor;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: $primaryColor;
    border: 0 solid $blackColor;
    border-radius: 2px;
    box-shadow: 0 0 0 $blackColor;
  }

  input[type=range]::-ms-fill-upper {
    background: $primaryColor;
    border: 0 solid $blackColor;
    border-radius: 2px;
    box-shadow: 0 0 0 $blackColor;
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0 0 0 $blackColor;
    border: 1px solid $primaryColor;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: $secondaryColor;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $primaryColor;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: $primaryColor;
  }
}
