<main>
  <h1>Please upload your image and the you can edit it</h1>

  <div *ngIf="file" class="cropper-wrapper">
    <ngc-img-crop [file]="file" (fileEdited)="onFileEdited($event)"></ngc-img-crop>
  </div>

  <input (change)="handleImage($event)" type="file">

  <div *ngIf="s" class="croppedImage">
    <img [src]="s" alt="cropped image">
  </div>
</main>
