@use '../styles/range-input' as *;
@use '../styles/variables' as *;
@use '../styles/colors' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: $containerMaxWidth;
  max-height: 95dvh;
}


#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: $fullSize;
  height: $fullSize;
  max-width: $containerMaxWidth;
  max-height: $containerMaxWidth;
  overflow: hidden;

  #canvas {
    overflow: hidden;
  }
}


#crop-area {
  width: $cropAreaSideSize;
  height: $cropAreaSideSize;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: grab;
  box-shadow: 1px 2px 0 $containerMaxWidth $canvasOverlay;
  -webkit-box-shadow: 1px 2px 0 $containerMaxWidth $canvasOverlay;
  -moz-box-shadow: 1px 2px 0 $containerMaxWidth $canvasOverlay;
}

#control-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $fullSize;
  max-width: $containerMaxWidth;
  margin-top: 20px;

  #range-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include rangeInput();
  }
}
