<div #canvasContainer
     id="canvas-container"
     (mouseup)="onDragEnd()"
     (mousemove)="onDragMove($event)"
     (touchmove)="onDragMove($event)"
     (touchend)="onDragEnd()"
     [ngClass]="canvasContainerStyleClasses"

>

  <canvas [ngClass]="canvasStyleClasses" #canvas id="canvas"></canvas>

  <div
    #cropArea
    (mousedown)="onDragStart($event)"
    (touchstart)="onDragStart($event)"
    [id]="cropAreaId"
    [ngClass]="cropAreaStyleClasses"
  ></div>
</div>

<div #controlContainer
     [ngClass]="controlContainerStyleClasses"
     id="control-container">

  <div id="range-input-container">
    <label for="zoomRange">{{ rangeLabel }}</label>
    <input [formControl]="zoomControl"
           #zoomRange
           id="zoomRange"
           type="range"
           min="1"
           max="3"
           step="0.1"
    />
  </div>

  <button (click)="crop()"
          [ngClass]="cropBtnStyleClasses"
          #cropBtn
          id="extractBtn"
  >
    {{ cropLabel }}
  </button>
</div>

